<?xml version="1.0" encoding="utf-8"?>
<DataType Key="31721f8b-8f67-4719-b571-9357b34562ff" Alias="Advertising - Site image - Media Picker" Level="1">
  <Info>
    <Name>Advertising - Site image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>