<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c02abfa8-cbb6-4068-a6f0-d7eefe562026" Alias="Advertising - Icon - Media Picker" Level="1">
  <Info>
    <Name>Advertising - Icon - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>