<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ff11d33-db26-440c-b85f-153e09bef62c" Alias="BasePage - Meta Properties - Textarea" Level="1">
  <Info>
    <Name>BasePage - Meta Properties - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>