<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67ff4364-60a7-4353-8a06-f6c8a949e8a7" Alias="Category - TopMenu - Checkbox" Level="1">
  <Info>
    <Name>Category - TopMenu - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>