<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ffc6736a-280b-4321-be3f-89cb42b56e8d" Alias="News - ShowInTopicList - Checkbox" Level="1">
  <Info>
    <Name>News - ShowInTopicList - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>