<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bcfdd4ea-f345-4a1f-9353-348698385eb0" Alias="News - Source - Textbox" Level="1">
  <Info>
    <Name>News - Source - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>