<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dc0c7950-3579-4e34-a675-80463faa5091" Alias="News - Short Description - Textarea" Level="1">
  <Info>
    <Name>News - Short Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>