<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e8609b5-a4eb-4284-92af-6a69d285b2cd" Alias="News - Location - Textbox" Level="1">
  <Info>
    <Name>News - Location - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>