<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e0a0096-a3b9-4eb3-b25f-08473499324f" Alias="Settings - Twitter Url - Textbox" Level="1">
  <Info>
    <Name>Settings - Twitter Url - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>