<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0f869f1e-a060-4489-b3ca-5f97ae8ca06b" Alias="Settings - Site Logo Url - Content Picker" Level="1">
  <Info>
    <Name>Settings - Site Logo Url - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>