<?xml version="1.0" encoding="utf-8"?>
<DataType Key="be56d190-f51e-4702-8293-21c8a2da496f" Alias="Settings - Flickr Url - Textbox" Level="1">
  <Info>
    <Name>Settings - Flickr Url - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>