<?xml version="1.0" encoding="utf-8"?>
<DataType Key="383162a7-2ad0-43c9-824f-9a5b7bb8e76e" Alias="test_AdvertisingTypes - Tags" Level="1">
  <Info>
    <Name>test_AdvertisingTypes - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "default",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>