<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a786b003-a5ca-4d0f-834f-674566bab065" Alias="Advertising - Priority - Checkbox" Level="1">
  <Info>
    <Name>Advertising - Priority - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>