<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3b39fac-1b1e-4a68-8714-91c67556c3bd" Alias="AdvertisingTypes - Advertising Data - Nested Content" Level="1">
  <Info>
    <Name>AdvertisingTypes - Advertising Data - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "advertising",
      "ncTabAlias": "Data",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>