<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ea30b96f-a8d7-4d85-bc6a-9345558fdf32" Alias="Advertising - Expired Date - DateTime" Level="1">
  <Info>
    <Name>Advertising - Expired Date - DateTime</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD hh:mm:ss",
  "OffsetTime": false
}]]></Config>
</DataType>