<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59b8906b-1805-4d6d-a999-99975551ae21" Alias="Advertising - Price - Numeric" Level="1">
  <Info>
    <Name>Advertising - Price - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>