<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2baa77e6-0863-45ad-9bdc-c3a4bd0c50a7" Alias="Advertising - Title - Textbox" Level="1">
  <Info>
    <Name>Advertising - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>