<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6b163d0b-b46c-49f6-a870-ebd4035db23b" Alias="Advertising - Iframe - Textarea" Level="1">
  <Info>
    <Name>Advertising - Iframe - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>