<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7bd37c9d-6143-424b-b56d-729f8c700f6e" Alias="Advertising - Iframe - Textbox" Level="1">
  <Info>
    <Name>Advertising - Iframe - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>