<?xml version="1.0" encoding="utf-8"?>
<DataType Key="29ca82a5-fa5f-4e79-8e90-a824077064f1" Alias="Advertising - Published Date - DateTime" Level="1">
  <Info>
    <Name>Advertising - Published Date - DateTime</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD hh:mm:ss",
  "OffsetTime": false
}]]></Config>
</DataType>