<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec67a32e-2b28-4106-89a9-4045ec4a6592" Alias="BasePage - Meta Page Title - Textbox" Level="1">
  <Info>
    <Name>BasePage - Meta Page Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 60
}]]></Config>
</DataType>