<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9ac50e8-0def-4a7f-9dbe-bb46b52d3305" Alias="BasePage - Meta Description - Textarea" Level="1">
  <Info>
    <Name>BasePage - Meta Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 160,
  "Rows": null
}]]></Config>
</DataType>