<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f6201f52-b34d-420f-b82f-71004ef2cb85" Alias="BasePage - Robots - Checkbox list" Level="1">
  <Info>
    <Name>BasePage - Robots - Checkbox list</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Noindex"
    },
    {
      "id": 2,
      "value": "Index"
    },
    {
      "id": 3,
      "value": "Follow"
    },
    {
      "id": 4,
      "value": "Nofollow"
    },
    {
      "id": 5,
      "value": "Noimageindex"
    },
    {
      "id": 6,
      "value": "None"
    },
    {
      "id": 7,
      "value": "Noarchive"
    },
    {
      "id": 8,
      "value": "Nocache"
    },
    {
      "id": 9,
      "value": "Nosnippet"
    }
  ]
}]]></Config>
</DataType>