<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0f84e70b-77cb-427c-92bf-0cfff3d27a7a" Alias="Category - ParentCategory - Content Picker" Level="1">
  <Info>
    <Name>Category - ParentCategory - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/cd89f16666aa4b4b963e2466878cb2df",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>