<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0eb1b622-5289-4907-98ae-5032ae2fbe3e" Alias="Category - Title - Textbox" Level="1">
  <Info>
    <Name>Category - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>