<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2da3cbca-fffc-4cd2-a8f6-25df68e3a123" Alias="Category - ParentCategory - Textbox" Level="1">
  <Info>
    <Name>Category - ParentCategory - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>