<?xml version="1.0" encoding="utf-8"?>
<DataType Key="06a7ee2d-783b-4839-9eae-1f36c3cc9344" Alias="HomePage - Logo - Media Picker" Level="1">
  <Info>
    <Name>HomePage - Logo - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>