<?xml version="1.0" encoding="utf-8"?>
<DataType Key="087013a1-af35-41c5-a012-5ee3f1debfa7" Alias="HomePage - CurrentDate - DateTime" Level="1">
  <Info>
    <Name>HomePage - CurrentDate - DateTime</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "dddd-DD-MM-YYYY",
  "OffsetTime": true
}]]></Config>
</DataType>