<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e921c6b1-1e71-4154-8e76-69380f1abc19" Alias="News - Category - Content Picker (1)" Level="1">
  <Info>
    <Name>News - Category - Content Picker (1)</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/6a46de69fa2c4e81bb52c1d8442e4dd3",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>