<?xml version="1.0" encoding="utf-8"?>
<DataType Key="49573546-b09a-4441-9e1d-cc52f96a1e13" Alias="News - Related News - Multi Url Picker" Level="1">
  <Info>
    <Name>News - Related News - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>