<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fab366ba-47c3-4fb9-89b1-365c85827195" Alias="News - Related News Tags - Tags" Level="1">
  <Info>
    <Name>News - Related News Tags - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "default",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>