<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a3535eb4-78dd-4113-b67b-0fecffb7eb5e" Alias="News - MostView - Checkbox" Level="1">
  <Info>
    <Name>News - MostView - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>