<?xml version="1.0" encoding="utf-8"?>
<DataType Key="58300705-6b88-4e85-b918-c6fc3840673b" Alias="News - Category - Content Picker" Level="1">
  <Info>
    <Name>News - Category - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/cd89f16666aa4b4b963e2466878cb2df",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>