<?xml version="1.0" encoding="utf-8"?>
<DataType Key="739c3e2c-09c2-410f-9276-7d110e1336fa" Alias="News - Picture - Image Cropper" Level="1">
  <Info>
    <Name>News - Picture - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "News",
      "width": 200,
      "height": 200
    },
    {
      "alias": "thumbnail",
      "width": 50,
      "height": 50
    },
    {
      "alias": "square",
      "width": 480,
      "height": 480
    },
    {
      "alias": "wide",
      "width": 1024,
      "height": 512
    }
  ]
}]]></Config>
</DataType>