<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dbea4d56-5a71-4f14-88b8-367a1c4327d8" Alias="News - Picture External Url - Textbox" Level="1">
  <Info>
    <Name>News - Picture External Url - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>