<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a90fc38f-18cf-4970-8888-bda3fcd3261f" Alias="News - Most View - Checkbox" Level="1">
  <Info>
    <Name>News - Most View - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>