<?xml version="1.0" encoding="utf-8"?>
<DataType Key="33ba6162-75af-447a-85d8-b418b8fa5c82" Alias="News - Is Hot Group News - Checkbox" Level="1">
  <Info>
    <Name>News - Is Hot Group News - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>