<?xml version="1.0" encoding="utf-8"?>
<DataType Key="35c4acbd-0b79-4ab2-8cac-d0d684506e54" Alias="News - IsLastestNews - Checkbox" Level="1">
  <Info>
    <Name>News - IsLastestNews - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>