<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eccb75b4-3cad-431e-9d84-3566b70d0f35" Alias="News - PostedDateTime - DateTime" Level="1">
  <Info>
    <Name>News - PostedDateTime - DateTime</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "LLLL",
  "OffsetTime": false
}]]></Config>
</DataType>