<?xml version="1.0" encoding="utf-8"?>
<DataType Key="739c3e2c-09c2-410f-9276-7d110e1336fa" Alias="News - Picture - Image Cropper" Level="1">
  <Info>
    <Name>News - Picture - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": []
}]]></Config>
</DataType>