<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b2f69b3-2b61-41fc-82bc-0aea46e1e95a" Alias="News - PostedTime - Textbox" Level="1">
  <Info>
    <Name>News - PostedTime - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>