<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca39f008-e9ad-4623-aeaf-2ce7229a8a8c" Alias="Settings - Current Day - DateTime" Level="1">
  <Info>
    <Name>Settings - Current Day - DateTime</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD HH:mm:ss",
  "OffsetTime": true
}]]></Config>
</DataType>