<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7dbf1c3f-257a-4152-94ed-d8dfd9daf9f7" Alias="Settings - Site Logo Url - Media Picker" Level="1">
  <Info>
    <Name>Settings - Site Logo Url - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": "umb://media/a650084cdcfc416a866182122a2a7599",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>