<?xml version="1.0" encoding="utf-8"?>
<DataType Key="88544619-b3e0-44ae-bb6e-fda924fae53e" Alias="Settings - Site Logo Url - Image Cropper" Level="1">
  <Info>
    <Name>Settings - Site Logo Url - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": []
}]]></Config>
</DataType>