<?xml version="1.0" encoding="utf-8"?>
<DataType Key="607a6dc3-8e87-45dc-aaf0-1bec470b7463" Alias="Settings - Facebook Url - Textbox" Level="1">
  <Info>
    <Name>Settings - Facebook Url - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>