<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91297a94-fd2c-435a-a631-e86d8895df17" Alias="Settings - Linkedin Url - Textbox" Level="1">
  <Info>
    <Name>Settings - Linkedin Url - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>