<?xml version="1.0" encoding="utf-8"?>
<DataType Key="33c371ae-45a4-47f4-a03f-52fb5f493517" Alias="Settings - Description Suffix - Textarea" Level="1">
  <Info>
    <Name>Settings - Description Suffix - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>