@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web;
@{
    Layout = null;
    var pageTitle = Model.Value("title");
}

<div class="category-header">
            <div class="container">
                <div class="row mt-3">
                    <div class="col-md-4 col-lg-4">
                        <h1 class="category-title"><a href="#">@pageTitle</a></h1>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <div class="top-right d-inline-flex w-100">
                            <form class="view-date">
                                <i class="far fa-calendar-alt"></i>
                                <input type="text" class="calendar flatpickr-input" placeholder="Xem theo ngày" data-input="" readonly="readonly">
                            </form>
                            <form class="form-inline search-box" action="/tim-kiem">
                                <input class="form-control" type="search" placeholder="Tìm kiếm trong chuyên mục" aria-label="Search" id="query" name="q">
                                <input class="form-control" type="search" hidden id="category" name="cat" value="@Model.Name()">
                                <button class="" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>