@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;
@{
    var site = Model.AncestorOrSelf(2);
    var selection = site.Children.Where(x => x.IsVisible());
}
    <ul class="navbar-list">
        @foreach (var item in selection)
        {
            <li class="nav-item">
                <a href="@item.Url" class="item-link">@item.GetProperty("Title").Value()</a>
                <ul class="nav-sub">
                    @foreach (var child in item.Children().Where(c => c.IsVisible()))
                    {
                        <li><a href="@child.Url">@child.GetProperty("Title").Value()</a></li>
                    }
                </ul>
            </li>
        }
        <li class="nav-item">
            <a class="item-link all-link" href="javascript:void(0)">Tất cả <i class="fas fa-bars"></i></a>
        </li>
    </ul>
