<?xml version="1.0" encoding="utf-8"?>
<Macro Key="45f35e90-0670-443f-908d-497d847c9a42" Alias="MostViewsLandingPage" Level="0">
  <Name>MostViewsLandingPage</Name>
  <MacroSource>~/Views/MacroPartials/MostViewsLandingPage.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>