@inherits Umbraco.Web.Macros.PartialViewMacroPage

<!-- product-news -->
    <div class="product-news">
        <div class="row">
            <div class="col-lg-9">
                <article class="news-item d-flex">
                    <div class="col-img mr-3">
                        <a href="#"><img src="assets/images/news.jpg" class="img-fluid" alt="" /></a>

                    </div>
                    <div class="col-desc">
                        <h5 class="heading-title-news merri-title"><a href="#"> Bắc Kinh đóng cửa trường học, hủy hơn 1.200 chuyến bay</a></h5>

                    </div>
                </article>
                <div class="child-news horizontal">
                    <ul class="d-flex">
                        <li>
                            <h6 class="merri-title">
                                <a href="#">
                                    6 án tử hình với nhóm sát hại thiếu nữ giao gà
                                </a>
                            </h6>
                            <div class="child-news-desc">
                                <a href="#">
                                    <span class="location-name">Điện Biên </span>
                                    <span>Toà phúc thẩm xác định các bị cáo đã cùng sát hại, cưỡng bức thiếu nữ giao gà nên y án sơ thẩm, tuyên 6 án tử hình.</span>
                                </a>
                                <span class="comments-count">
                                    <i class="far fa-comment"></i>
                                    <a href="#">85</a>
                                </span>
                            </div>
                        </li>
                        <li>
                            <h6 class="merri-title">
                                <a href="#">
                                    Ngã xe thang máy bay tử vong
                                </a>
                            </h6>
                            <div class="child-news-desc">
                                <a href="#">
                                    <span class="location-name">TP HCM </span>
                                    <span>Đi chuyến bay VN1379 từ Huế đến TP HCM, nữ hành khách 50 tuổi trượt chân ngã từ xe thang máy bay xuống đất, tử vong.</span>
                                </a>
                                <span class="comments-count">
                                    <i class="far fa-comment"></i>
                                    <a href="#">85</a>
                                </span>
                            </div>
                        </li>
                        <li>
                            <h6 class="merri-title">
                                <a href="#">
                                    Lai Châu tiếp tục xảy ra động đất
                                </a>
                            </h6>
                            <div class="child-news-desc">
                                <a href="#">
                                    <span class="location-name">Điện Biên -</span>
                                    <span>Lần thứ ba trong ba ngày, huyện Mường Tè, tỉnh Lai Châu, ghi nhận rung chấn với độ lớn 2,5, độ sâu chấn tiêu khoảng 12,8 km. </span>
                                </a>
                                <span class="comments-count">
                                    <i class="far fa-comment"></i>
                                    <a href="#">85</a>
                                </span>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="child-news vertical">
                    <ul class="d-flex flex-column">
                        <li>
                            <h6 class="merri-title">
                                <a href="#">
                                    6 án tử hình với nhóm sát hại thiếu nữ giao gà
                                </a>
                            </h6>
                            <div class="child-news-desc">
                                <a href="#">
                                    <span class="location-name">Điện Biên -</span>
                                    <span>Toà phúc thẩm xác định các bị cáo đã cùng sát hại, cưỡng bức thiếu nữ giao gà nên y án sơ thẩm, tuyên 6 án tử hình.</span>
                                </a>
                                <span class="comments-count">
                                    <i class="far fa-comment"></i>
                                    <a href="#">85</a>
                                </span>
                            </div>
                        </li>
                        <li>
                            <h6 class="merri-title">
                                <a href="#">
                                    Ngã xe thang máy bay tử vong
                                </a>
                            </h6>
                            <div class="child-news-desc">
                                <a href="#">
                                    <span>TP HCM</span>
                                    <span>Đi chuyến bay VN1379 từ Huế đến TP HCM, nữ hành khách 50 tuổi trượt chân ngã từ xe thang máy bay xuống đất, tử vong.</span>
                                </a>
                                <span class="comments-count">
                                    <i class="far fa-comment"></i>
                                    <a href="#">85</a>
                                </span>
                            </div>
                        </li>
                        <li>
                            <h6 class="merri-title">
                                <a href="#">
                                    Lai Châu tiếp tục xảy ra động đất
                                </a>
                            </h6>
                            <div class="child-news-desc">
                                <a href="#">
                                    <span class="location-name">Điện Biên -</span>
                                    <span>Lần thứ ba trong ba ngày, huyện Mường Tè, tỉnh Lai Châu, ghi nhận rung chấn với độ lớn 2,5, độ sâu chấn tiêu khoảng 12,8 km. </span>
                                </a>
                                <span class="comments-count">
                                    <i class="far fa-comment"></i>
                                    <a href="#">85</a>
                                </span>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="bt-solid mt-3 mb-3"></div>
    </div>