@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{ 
    var root = Model.Content.Root();
    var mostViews = root.Descendants().Where(x => x.IsVisible() && x.ContentType.Alias == "news" && (bool)x.GetProperty("mostView").Value() == true)
                                      .OrderByDescending(item => item.Value("postedDateTime")).ToArray();
}
<div class="watch-lots-list">
    <div class="heading-title">
        <h5 class="merri-title title-border">
            <a title="Xem nhiều" href="/home/tin-xem-nhieu" class="inner-title">Xem nhiều</a>
        </h5>
    </div>
    <div class="list-top-view d-flex mt-4">
        @for (int i = 0; i < 8 && i < mostViews.Count(); i++)
        {
            <article class="item-news d-flex">
                <h1 class="merri-title number-top-view">@(i+1)</h1>
                <div class="view-desc">
                    <p>
                        <a href="@mostViews[i].Url" target="_blank">@System.Net.WebUtility.HtmlDecode(mostViews[i].GetProperty("title").Value().ToString())</a>
                    </p>
                </div>
            </article>
        }
    </div>
</div>