<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4a4acee8-902b-4d32-b219-b4352da58770" Alias="categoryPage" Level="3">
  <Info>
    <Name>CategoryPage</Name>
    <Icon>icon-categories color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Core/Pages</Folder>
    <Compositions>
      <Composition Key="dd0c7ecf-1e04-4632-b237-34586f6eb769">basePage</Composition>
    </Compositions>
    <DefaultTemplate>CategoryPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8e172059-3ddb-4b4b-8a6d-bac513f21fb4">CategoryPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>