<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f8afe841-3d0c-4f45-b719-17cac462cd53" Alias="contentRoot" Level="3">
  <Info>
    <Name>Content Root</Name>
    <Icon>icon-sitemap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Core/Site</Folder>
    <Compositions />
    <DefaultTemplate>ContentRoot</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="38382f64-5326-40f2-9542-4d770e54c480">ContentRoot</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e31a0661-6e0e-4d55-8c83-1c8f9064680d" SortOrder="0">homePage</ContentType>
    <ContentType Key="4a4acee8-902b-4d32-b219-b4352da58770" SortOrder="1">categoryPage</ContentType>
    <ContentType Key="c2399aaf-7871-42a6-afbf-b2394fa43921" SortOrder="2">newsLandingPage</ContentType>
    <ContentType Key="02a26655-0306-4f22-8501-6cf106a006c3" SortOrder="3">settings</ContentType>
    <ContentType Key="5f7c8c99-bd8d-4a87-be0c-57df80bf0774" SortOrder="4">advertisingTypes</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>