@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}

<section class="section section">
    @*@Html.GetGridHtml(Model, "bodyText", "bootstrap3-fluid")*@

    @Html.GetGridHtml(Model, "mainLayout")
</section>
<!-- product-news -->
<!-- articles-list -->
<div class="articles-list">
    <div class="row">
        <div class="col-lg-4">
            <!-- news-list -->
            <div class="news-list">
                <!-- article 1 -->
                <article class="article-item">
                    <h6 class="title-news merri-title"><a href="#">Người từ Việt Nam đến Singapore không cần cách ly tập trung</a></h6>
                    <div class="d-flex">
                        <a href="#" class="mr-3 img-thumb"><img src="assets/images//articles/1.jpg" class="img-fluid" alt="" /></a>
                        <p class="article-desc">
                            <a href="#">
                                Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                            </a>
                            <span class="comments-count">
                                <i class="far fa-comment"></i>
                                <a href="#">85</a>
                            </span>
                        </p>
                    </div>
                </article>
                <!-- article 1 -->
                <!-- article 2 -->
                <article class="article-item">
                    <h6 class="title-news merri-title"><a href="#">Phi công học lái xe tải, sửa bể bơi mùa dịch</a></h6>
                    <div class="d-flex">
                        <a href="#" class="mr-3 img-thumb"><img src="assets/images//articles/2.jpg" class="img-fluid" alt="" /></a>
                        <p class="article-desc">
                            <a href="#">
                                Không thể lái máy bay vì Covid-19, nhiều phi công tại Mỹ và Anh phải tìm đủ việc làm thêm để có thu nhập.
                            </a>
                            <span class="comments-count">
                                <i class="far fa-comment"></i>
                                <a href="#">85</a>
                            </span>
                        </p>
                    </div>
                </article>
                <!-- article 2 -->
                <!-- article 3 -->
                <article class="article-item">
                    <h6 class="title-news merri-title"><a href="#">Bắc Kinh đóng cửa trường học, hủy hơn 1.200 chuyến bay</a></h6>
                    <div class="d-flex">
                        <!-- <a href="#" class="mr-3 img-thumb img-thumb"><img src="assets/images//articles/1.jpg"  class="img-fluid" alt=""/></a> -->
                        <p class="article-desc">
                            <a href="#">
                                Bắc Kinh đóng cửa trở lại toàn bộ trường học và hủy hơn 1.200 chuyến bay khi thành phố ghi nhận 137 ca nCoV liên quan đến chợ Tân Phát Địa.
                            </a>
                            <span class="comments-count">
                                <i class="far fa-comment"></i>
                                <a href="#">85</a>
                            </span>
                        </p>
                    </div>
                </article>
                <!-- article 3 -->
                <!-- article 4 -->
                <article class="article-item">
                    <h6 class="title-news merri-title"><a href="#">Người từ Việt Nam đến Singapore không cần cách ly tập trung</a></h6>
                    <div class="d-flex">
                        <a href="#" class="mr-3 img-thumb"><img src="assets/images//articles/1.jpg" class="img-fluid" alt="" /></a>
                        <p class="article-desc">
                            <a href="#">
                                Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                            </a>
                            <span class="comments-count">
                                <i class="far fa-comment"></i>
                                <a href="#">85</a>
                            </span>
                        </p>
                    </div>
                </article>
                <!-- article 4 -->
                <!-- article 5 -->
                <article class="article-item">
                    <h6 class="title-news merri-title"><a href="#">Phi công học lái xe tải, sửa bể bơi mùa dịch</a></h6>
                    <div class="d-flex">
                        <a href="#" class="mr-3 img-thumb"><img src="assets/images//articles/2.jpg" class="img-fluid" alt="" /></a>
                        <p class="article-desc">
                            <a href="#">
                                Không thể lái máy bay vì Covid-19, nhiều phi công tại Mỹ và Anh phải tìm đủ việc làm thêm để có thu nhập.
                            </a>
                            <span class="comments-count">
                                <i class="far fa-comment"></i>
                                <a href="#">85</a>
                            </span>
                        </p>
                    </div>
                </article>
                <!-- article 5 -->
                <!-- article 6 -->
                <article class="article-item">
                    <h6 class="title-news merri-title"><a href="#">Bắc Kinh đóng cửa trường học, hủy hơn 1.200 chuyến bay</a></h6>
                    <div class="d-flex">
                        <!-- <a href="#" class="mr-3 img-thumb img-thumb"><img src="assets/images//articles/1.jpg"  class="img-fluid" alt=""/></a> -->
                        <p class="article-desc">
                            <a href="#">
                                Bắc Kinh đóng cửa trở lại toàn bộ trường học và hủy hơn 1.200 chuyến bay khi thành phố ghi nhận 137 ca nCoV liên quan đến chợ Tân Phát Địa.
                            </a>
                            <span class="comments-count">
                                <i class="far fa-comment"></i>
                                <a href="#">85</a>
                            </span>
                        </p>
                    </div>
                </article>
                <!-- article 6 -->
                <!-- article 7 -->
                <article class="article-item">
                    <h6 class="title-news merri-title"><a href="#">Người từ Việt Nam đến Singapore không cần cách ly tập trung</a></h6>
                    <div class="d-flex">
                        <a href="#" class="mr-3 img-thumb"><img src="assets/images//articles/1.jpg" class="img-fluid" alt="" /></a>
                        <p class="article-desc">
                            <a href="#">
                                Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                            </a>
                            <span class="comments-count">
                                <i class="far fa-comment"></i>
                                <a href="#">85</a>
                            </span>
                        </p>
                    </div>
                </article>
                <!-- article 7 -->
            </div>
            <!-- news-list -->
        </div>
        <div class="col-lg-8">
            <div class="home-categories-list pl-3">
                <!-- category-box-item 1-->
                <div class="category-box-item">
                    <div class="cate-options d-flex">
                        <h5 class="cate-title merri-title"><a href="#">Thể thao</a></h5>
                        <ul>
                            <li><a href="#">Bóng đá</a></li>
                            <li><a href="#">Golf</a></li>
                            <li><a href="#">Tennis</a></li>
                            <li><a href="#">Golf</a></li>
                            <li><a href="#">F1</a></li>
                            <li><a href="#">V-Race</a></li>
                        </ul>
                    </div>
                    <div class="cate-content-box d-flex">
                        <article class="thumb-cate mr-3">
                            <a href="#" class="d-inline-block img-thumb"><img src="assets/images/articles/3.jpg" class="img-fluid" alt="" /></a>
                            <div class="cate-thumb-desc mt-3">
                                <h6 class="merri-title">
                                    <a href="#">
                                        Hải Phòng - Quảng Ninh
                                    </a>
                                </h6>
                                <div class="child-news-desc">
                                    <a href="#">
                                        <span class="location-name">Điện Biên -</span>
                                        <span>
                                            Thầy trò Phan Thanh Hùng hướng đến ba điểm để thoát khỏi nửa dưới bảng điểm dù đá làm khách tại Lạch Tray. Bóng lăn lúc 17h.
                                        </span>
                                    </a>
                                    <div class="update-time">
                                        <span>
                                            4' trước Trong nước
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </article>
                        <div class="others-news-cate">
                            <article class="cate-item">
                                <h6 class="merri-title"><a href="#">Võ sư Thái Cực lý giải căn nguyên nội công</a></h6>
                                <div class="article-desc">
                                    <a href="#">
                                        Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </div>

                            </article>
                            <article class="cate-item">
                                <h6 class="merri-title"><a href="#">Võ sư Thái Cực lý giải căn nguyên nội công</a></h6>
                                <div class="article-desc">
                                    <a href="#">
                                        Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </div>

                            </article>
                            <article class="cate-item">
                                <h6 class="merri-title"><a href="#">Võ sư Thái Cực lý giải căn nguyên nội công</a></h6>
                                <div class="article-desc">
                                    <a href="#">
                                        Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </div>

                            </article>

                        </div>
                    </div>

                </div>
                <!-- category-box-item 1-->
                <!-- category-box-item 2-->
                <div class="category-box-item">
                    <div class="cate-options d-flex">
                        <h5 class="cate-title merri-title"><a href="#">Giải trí</a></h5>
                        <ul>
                            <li><a href="#">Giới sao</a></li>
                            <li><a href="#">Phim</a></li>
                            <li><a href="#">Nhạc</a></li>
                            <li><a href="#">Thời trang</a></li>
                            <li><a href="#">Sách</a></li>

                        </ul>
                    </div>
                    <div class="cate-content-box d-flex">
                        <article class="thumb-cate mr-3">
                            <a href="#" class="d-inline-block img-thumb"><img src="assets/images/articles/4.jpg" class="img-fluid" alt="" /></a>
                            <div class="cate-thumb-desc mt-3">
                                <h6 class="merri-title">
                                    <a href="#">
                                        Cách phối blazer mùa hè của sao
                                    </a>
                                </h6>
                                <div class="child-news-desc">
                                    <a href="#">
                                        <span></span>
                                        <span>
                                            Kendall Jenner, Bella Hadid.... thường mặc áo ngực, quần shorts và khoác ngoài bằng blazer.
                                        </span>
                                    </a>
                                    <div class="update-time">
                                        <span>1h trước</span>

                                    </div>

                                </div>
                            </div>

                        </article>
                        <div class="others-news-cate">
                            <article class="cate-item">
                                <h6 class="merri-title"><a href="#">Thanh Lam thích nghe nhạc trẻ giống bạn trai</a></h6>
                                <div class="article-desc">
                                    <a href="#">
                                        Nhờ bạn trai, Thanh Lam thử nghe một số nhóm nhạc underground như Ngọt, Da LAB... và muốn hợp tác với họ.
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </div>

                            </article>
                            <article class="cate-item">
                                <h6 class="merri-title"><a href="#">Minh tinh 'Hoàng Phi Hồng' ở căn hộ 19 triệu USD</a></h6>
                                <div class="article-desc">
                                    <a href="#">
                                        <span class="location-name">HONG KONG </span> <span>Quan Chi Lâm, sao đóng loạt phim "Hoàng Phi Hồng", sống độc thân trong căn nhà trị giá 150 triệu HKD (19,3 triệu USD).</span>
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </div>

                            </article>
                            <article class="cate-item">
                                <h6 class="merri-title"><a href="#">Thụy Vân diện váy ren</a></h6>
                                <div class="article-desc">
                                    <a href="#">
                                        Á hậu Thụy Vân thay hai trang phục khi ghi hình cho một chương trình ở Hà Nội, ngày 18/6.
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </div>

                            </article>

                        </div>
                    </div>

                </div>
                <!-- category-box-item 2-->
                <!-- category-box-item 3-->

                <div class="category-box-item">
                    <div class="cate-options d-flex">
                        <h5 class="cate-title merri-title"><a href="#">Kinh doanh</a></h5>
                        <ul>
                            <li><a href="#">Chứng khoán</a></li>
                            <li><a href="#">Bất động sản</a></li>
                            <li><a href="#">Doanh nghiệp</a></li>
                            <li><a href="#">Tiền của tôi</a></li>
                            <li><a href="#">Startup</a></li>
                            <li><a href="#">Vận hành số</a></li>
                        </ul>
                    </div>
                    <div class="cate-content-box d-flex">
                        <article class="thumb-cate mr-3 has-no-image">
                            <!-- <a href="#" class="d-inline-block img-thumb"><img src="assets/images/articles/3.jpg" class="img-fluid" alt=""/></a> -->
                            <div class="cate-thumb-desc mt-3">
                                <h6 class="merri-title">
                                    <a href="#">
                                        Lô heo sống Thái Lan đầu tiên về Việt Nam
                                    </a>
                                </h6>
                                <div class="child-news-desc">
                                    <a href="#">
                                        <span>
                                            Lô heo sống 500 con từ Thái Lan đã về Việt Nam đêm 17/6 và được thực hiện cách ly 30 ngày trước khi giết mổ, bán ra thị trường.
                                        </span>
                                    </a>
                                    <div class="update-time">
                                        <span>
                                            <a href="#">Hàng hóa</a>
                                        </span>&nbsp;
                                        <span class="comments-count">
                                            <i class="far fa-comment"></i>
                                            <a href="#">24</a>
                                        </span>
                                    </div>

                                </div>
                            </div>

                        </article>
                        <div class="others-news-cate">
                            <article class="cate-item">
                                <h6 class="merri-title"><a href="#">Võ sư Thái Cực lý giải căn nguyên nội công</a></h6>
                                <div class="article-desc">
                                    <a href="#">
                                        Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </div>

                            </article>
                            <article class="cate-item">
                                <h6 class="merri-title"><a href="#">Võ sư Thái Cực lý giải căn nguyên nội công</a></h6>
                                <div class="article-desc">
                                    <a href="#">
                                        Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </div>

                            </article>
                            <article class="cate-item">
                                <h6 class="merri-title"><a href="#">Võ sư Thái Cực lý giải căn nguyên nội công</a></h6>
                                <div class="article-desc">
                                    <a href="#">
                                        Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </div>

                            </article>

                        </div>
                    </div>

                </div>
                <!-- category-box-item 3-->
                <!-- category-box-item 4-->
                <div class="category-box-item category-box-item-table d-flex">
                    <div class="table-responsive table-wrapper">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Giá vàng 9999 <div class="float-right">tr.đ/lượng</div></td>
                                    <td>Mua</td>
                                    <td>Bán</td>
                                </tr>
                                <tr>
                                    <td>Vàng miếng SJC</td>
                                    <td>48,400</td>
                                    <td>48,600</td>
                                </tr>
                                <tr>
                                    <td>Vàng ép vỉ Hưng Thịnh Vượng</td>
                                    <td>47,850</td>
                                    <td>48,450</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive table-wrapper">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Kỳ hạn (tháng)</td>
                                    <td>01</td>
                                    <td>06</td>
                                    <td>09</td>
                                    <td>12</td>
                                    <td>18</td>
                                    <td>24</td>
                                </tr>
                                <tr>
                                    <td>Lãi suất online (%/năm)</td>
                                    <td>4.20</td>
                                    <td>6.90</td>
                                    <td>7.00</td>
                                    <td>7.10</td>
                                    <td>7.20</td>
                                    <td>7.50</td>
                                </tr>
                                <tr>
                                    <td>Lãi suất tại quầy (%/năm)</td>
                                    <td>4.10</td>
                                    <td>6.80</td>
                                    <td>6.90</td>
                                    <td></td>
                                    <td>7.10</td>
                                    <td>7.30</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>



                </div>
                <!-- category-box-item 4-->
            </div>
        </div>

    </div>
    <div class="bt-solid mt-3 mb-3"></div>
</div>
<!-- articles-list -->
<div class="vertical-catgories-list">
    <div class="row">
        <div class="col-lg-4">
            <div class="vertical-cate-item">
                <div class="category-box-item">
                    <div class="cate-options d-flex">
                        <h5 class="cate-title merri-title"><a href="#">Thời sự</a></h5>
                        <ul>
                            <li><a href="#">Giao thông</a></li>
                            <li><a href="#">Tuyến đầu chống dịch</a></li>
                        </ul>
                    </div>
                    <div class="cate-content-box">
                        <article class="thumb-cate">
                            <a href="#" class="d-inline-block img-thumb"><img src="assets/images/articles/5.jpg" class="img-fluid" alt="" /></a>
                            <div class="cate-thumb-desc mt-3">
                                <h6 class="merri-title">
                                    <a href="#">
                                        Cảng Cái Mép - Thị Vải sẽ là 'cửa ngõ phía Nam'
                                    </a>
                                </h6>
                                <div class="child-news-desc">
                                    <a href="#">
                                        <span class="location-name">BÀ RỊA - VŨNG TÀU - </span>
                                        <span>
                                            Chiếm 30% lượng hàng hóa xuất nhập khẩu bằng container cả nước, cảng Cái Mép - Thị Vải được kỳ vọng sẽ trở thành cửa ngõ giao thương phía Nam.
                                        </span>
                                    </a>
                                    <div class="update-time">
                                        <span>Giao thông</span>
                                        <span class="comments-count">
                                            <i class="far fa-comment"></i>
                                            <a href="#"></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <div class="others-news-cate">
                            <article class="cate-item">
                                <h6 class="merri-title"><a href="#">Võ sư Thái Cực lý giải căn nguyên nội công</a></h6>
                                <div class="article-desc">
                                    <a href="#">
                                        Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </div>

                            </article>
                            <article class="cate-item">
                                <h6 class="merri-title"><a href="#">Võ sư Thái Cực lý giải căn nguyên nội công</a></h6>
                                <div class="article-desc">
                                    <a href="#">
                                        Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </div>

                            </article>
                            <article class="cate-item">
                                <h6 class="merri-title"><a href="#">Võ sư Thái Cực lý giải căn nguyên nội công</a></h6>
                                <div class="article-desc">
                                    <a href="#">
                                        Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="vertical-cate-item">
                <div class="category-box-item">
                    <div class="cate-options d-flex">
                        <h5 class="cate-title merri-title"><a href="#">Thời sự</a></h5>
                        <ul>
                            <li><a href="#">Giao thông</a></li>
                            <li><a href="#">Tuyến đầu chống dịch</a></li>
                        </ul>
                    </div>
                    <div class="cate-content-box">
                        <article class="thumb-cate has-no-image">
                            <!-- <a href="#" class="d-inline-block img-thumb"><img src="assets/images/articles/5.jpg" class="img-fluid" alt=""/></a> -->
                            <div class="cate-thumb-desc pt-3 pb-3">
                                <h6 class="merri-title">
                                    <a href="#">
                                        Cảng Cái Mép - Thị Vải sẽ là 'cửa ngõ phía Nam'
                                    </a>
                                </h6>
                                <div class="child-news-desc">
                                    <a href="#">
                                        <span class="location-name">BÀ RỊA - VŨNG TÀU - </span>
                                        <span>
                                            Chiếm 30% lượng hàng hóa xuất nhập khẩu bằng container cả nước, cảng Cái Mép - Thị Vải được kỳ vọng sẽ trở thành cửa ngõ giao thương phía Nam.
                                        </span>
                                    </a>
                                    <div class="update-time">
                                        <span>Giao thông</span>
                                        <span>
                                            <i class="far fa-comment"></i>
                                            <a href="#"></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <div class="others-news-cate">
                            <article class="cate-item">
                                <h6 class="merri-title"><a href="#">Võ sư Thái Cực lý giải căn nguyên nội công</a></h6>
                                <div class="article-desc">
                                    <a href="#">
                                        Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </div>

                            </article>
                            <article class="cate-item">
                                <h6 class="merri-title"><a href="#">Võ sư Thái Cực lý giải căn nguyên nội công</a></h6>
                                <div class="article-desc">
                                    <a href="#">
                                        Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </div>

                            </article>
                            <article class="cate-item">
                                <h6 class="merri-title"><a href="#">Võ sư Thái Cực lý giải căn nguyên nội công</a></h6>
                                <div class="article-desc">
                                    <a href="#">
                                        Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </div>

                            </article>

                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="vertical-cate-item">
                <div class="category-box-item">
                    <div class="cate-options d-flex">
                        <h5 class="cate-title merri-title"><a href="#">Thời sự</a></h5>
                        <ul>
                            <li><a href="#">Giao thông</a></li>
                            <li><a href="#">Tuyến đầu chống dịch</a></li>
                        </ul>
                    </div>
                    <div class="cate-content-box">
                        <article class="thumb-cate">
                            <a href="#" class="d-inline-block img-thumb"><img src="assets/images/articles/5.jpg" class="img-fluid" alt="" /></a>
                            <div class="cate-thumb-desc mt-3">
                                <h6 class="merri-title">
                                    <a href="#">
                                        Cảng Cái Mép - Thị Vải sẽ là 'cửa ngõ phía Nam'
                                    </a>
                                </h6>
                                <div class="child-news-desc">
                                    <a href="#">
                                        <span class="location-name">BÀ RỊA - VŨNG TÀU - </span>
                                        <span>
                                            Chiếm 30% lượng hàng hóa xuất nhập khẩu bằng container cả nước, cảng Cái Mép - Thị Vải được kỳ vọng sẽ trở thành cửa ngõ giao thương phía Nam.
                                        </span>
                                    </a>
                                    <div class="update-time">
                                        <span class="comments-count">
                                            <i class="far fa-comment"></i>
                                            <a href="#">Giao thông</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <div class="others-news-cate">
                            <article class="cate-item">
                                <h6 class="merri-title"><a href="#">Võ sư Thái Cực lý giải căn nguyên nội công</a></h6>
                                <p class="article-desc">
                                    <a href="#">
                                        Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </p>
                            </article>
                            <article class="cate-item">
                                <h6 class="merri-title"><a href="#">Võ sư Thái Cực lý giải căn nguyên nội công</a></h6>
                                <div class="article-desc">
                                    <a href="#">
                                        Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </div>

                            </article>
                            <article class="cate-item">
                                <h6 class="merri-title"><a href="#">Võ sư Thái Cực lý giải căn nguyên nội công</a></h6>
                                <div class="article-desc">
                                    <a href="#">
                                        Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </div>

                            </article>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class="bt-solid mt-3 mb-3"></div>
</div>
<!-- categories-box-list -->
<div class="categories-box-list">
    <div class="row">
        <div class="col-lg-12">
            <div class="cate-options d-flex">
                <h5 class="cate-title merri-title"><a href="#">Du lịch</a></h5>
                <ul>
                    <li><a href="#">Cẩm nang</a></li>
                    <li><a href="#">Dấu chân</a></li>
                    <li><a href="#">Tư vấn</a></li>
                    <li><a href="#">Safe Go</a></li>
                    <li><a href="#">Điểm đến</a></li>
                    <li><a href="#">Ảnh</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="cate-box-left">
                <div class="category-box-item">
                    <div class="cate-content-box d-flex">
                        <article class="thumb-cate">
                            <a href="#" class="d-inline-block img-thumb"><img src="assets/images/articles/6.jpg" class="img-fluid" alt=""></a>
                            <div class="cate-thumb-desc mt-3">
                                <h4 class="merri-title">
                                    <a href="#">
                                        Các điểm vui chơi ở Nghệ An
                                    </a>
                                </h4>
                                <div class="child-news-desc">
                                    <a href="#">
                                        <span>
                                            Làng Sen quê Bác, đồi chè Thanh Chương hay cánh đồng hoa hướng dương... là những gợi ý dành cho bạn khi du lịch xứ Nghệ.
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="cate-box-right d-flex">
                <div class="first-cate-box">
                    <div class="category-box-item">
                        <div class="cate-content-box d-flex">
                            <article class="thumb-cate">
                                <a href="#" class="d-inline-block img-thumb">
                                    <img src="assets/images/articles/7.jpg" class="img-fluid" alt="">
                                </a>
                                <div class="cate-thumb-desc mt-3">
                                    <h6 class="merri-title">
                                        <a href="#">
                                            Nơi Covid-19 như chưa từng xuất hiện
                                        </a>
                                    </h6>

                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="category-box-item">
                        <div class="cate-content-box d-flex">
                            <article class="thumb-cate">
                                <a href="#" class="d-inline-block img-thumb"><img src="assets/images/articles/8.jpg" class="img-fluid" alt=""></a>
                                <div class="cate-thumb-desc mt-3">
                                    <h6 class="merri-title">
                                        <a href="#">
                                            'Vòng xoáy tử thần' của du lịch Trung Quốc
                                        </a>
                                    </h6>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="second-cate-box">
                    <article class="article-item">
                        <div class="d-flex">
                            <div class="article-desc">
                                <h6 class="merri-title">
                                    <a href="#">
                                        Quán phở bán 400 tô một ngày
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </h6>
                            </div>
                            <a href="#" class="mr-3 img-thumb"><img src="assets/images/thumb/1.png" class="img-fluid" alt=""></a>
                        </div>
                    </article>
                    <article class="article-item has-no-image">
                        <div class="article-desc">
                            <h6 class="merri-title">
                                <a href="#">
                                    Ăn gì ở phố cổ Hội An?
                                </a>
                            </h6>
                            <div class="article-desc">
                                <a href="#">
                                    <span class="location-name">QUẢNG NAM -</span><span>Ngoài bánh mì Phượng và cơm gà, tôi không biết thêm bất kỳ món ngon nào khác. </span>
                                </a>
                                <span class="comments-count">
                                    <i class="far fa-comment"></i>
                                    <a href="#">85</a>
                                </span>
                            </div>
                        </div>

                    </article>
                    <article class="article-item">
                        <div class="d-flex">
                            <div class="article-desc">
                                <h6 class="merri-title">
                                    <a href="#">
                                        3 trải nghiệm từ bình dân đến sang chảnh ở Phú Quốc
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </h6>

                            </div>
                            <a href="#" class="mr-3 img-thumb"><img src="assets/images/thumb/2.jpg" class="img-fluid" alt=""></a>
                        </div>
                    </article>
                    <article class="article-item">
                        <div class="d-flex">
                            <div class="article-desc">
                                <h6 class="merri-title">
                                    <a href="#">
                                        Khách Việt băng sa mạc Thar trên lưng lạc đà
                                    </a>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">85</a>
                                    </span>
                                </h6>

                            </div>
                            <a href="#" class="mr-3 img-thumb"><img src="assets/images/thumb/1.jpg" class="img-fluid" alt=""></a>
                        </div>
                    </article>

                </div>
            </div>
        </div>

    </div>
    <div class="bt-solid mt-3 mb-3"></div>
</div>
<div class="categories-box-list">
    <div class=row>
        <div class="col-lg-8">
            <div class="other-cate-news-list">
                <div class="cate-options d-flex">
                    <h5 class="cate-title merri-title"><a href="#">Tâm sự</a></h5>
                    <ul>
                        <li><a href="#">Chuyên gia gỡ rối</a></li>
                        <li><a href="#">Hẹn hò</a></li>
                    </ul>
                </div>
                <div class="other-cate-news-item d-flex">
                    <div class="category-box-item full-box">
                        <div class="cate-content-box d-flex">
                            <article class="thumb-cate mr-3">
                                <!-- <a href="#" class="d-inline-block img-thumb"><img src="assets/images/articles/6.jpg" class="img-fluid" alt=""></a> -->
                                <div class="cate-thumb-desc mt-3">
                                    <h5 class="merri-title">
                                        <a href="#">
                                            Bất lực khi dạy dỗ con 3 tuổi
                                        </a>
                                    </h5>
                                    <p class="child-news-desc">
                                        <a href="#">
                                            <span>
                                                Tôi là ông bố trẻ, có hai con trai 5 tuổi và hơn 3 tuổi. Cách dạy con của tôi thường áp dụng là vừa yêu thương vừa có kỷ luật.
                                                Nhóc đầu rất ngoan, đáng yêu, sống tình cảm, quan tâm đến cảm xúc của bố mẹ; nhóc sau nhiều lúc khiến tôi phiền lòng. Không biết có phải cháu sinh vào mồng 1 âm lịch không mà tính có phần ương bướng và cá tính. Hàng ngày cháu ít chơi với các bạn, nếu có thì thích...

                                            </span>
                                        </a>
                                        <span class="comments-count">
                                            <i class="far fa-comment"></i>
                                            <a href="#">85</a>
                                        </span>

                                    </p>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="two-items">
                        <div class="category-box-item">
                            <div class="cate-content-box d-flex">
                                <article class="thumb-cate mr-3">
                                    <!-- <a href="#" class="d-inline-block img-thumb"><img src="assets/images/articles/6.jpg" class="img-fluid" alt=""></a> -->
                                    <div class="cate-thumb-desc mt-3">
                                        <h5 class="merri-title">
                                            <a href="#">
                                                Mệt mỏi vì tối nào cũng phải massage cho chồng
                                            </a>
                                        </h5>
                                        <div class="child-news-desc">
                                            <a href="#">
                                                <span>
                                                    Tôi 30 tuổi, chồng 40 tuổi, có một bé gái 5 tuổi. Lúc mới lấy nhau, anh có một thói quen xấu là ngủ ngáy rất lớn, thở mạnh.

                                                </span>
                                            </a>
                                            <span class="comments-count">
                                                <i class="far fa-comment"></i>
                                                <a href="#">85</a>
                                            </span>

                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="category-box-item">
                            <div class="cate-content-box d-flex">
                                <article class="thumb-cate mr-3">
                                    <!-- <a href="#" class="d-inline-block img-thumb"><img src="assets/images/articles/6.jpg" class="img-fluid" alt=""></a> -->
                                    <div class="cate-thumb-desc mt-3">
                                        <h5 class="merri-title">
                                            <a href="#">
                                                Hoàn cảnh sống quê chồng kém nên tôi không muốn về ở
                                            </a>
                                        </h5>
                                        <div class="child-news-desc">
                                            <a href="#">
                                                <span>
                                                    Tôi lấy chồng được 2 năm rưỡi, có con trai 18 tháng. Từ khi cưới, chúng tôi sống ở xa nhà chồng.
                                                </span>
                                            </a>
                                            <span class="comments-count">
                                                <i class="far fa-comment"></i>
                                                <a href="#">85</a>
                                            </span>

                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box-shop-sell-vertical p-3">
                <div class="clearfix sell-top-box">
                    <h5 class="merri-title heading-line float-left"><a href="">Fsell</a></h5>
                    <div class="float-right btn-control-carousel">
                        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                            &#10094;
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                            &#10095;
                        </a>
                    </div>
                </div>

                <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="article-list-sell">
                                <article class="article-item">
                                    <div class="d-flex">
                                        <a href="#" class="mr-3 img-thumb"><img src="assets/images/fsell/1.jpg" alt="" class="img-fluid d-block"></a>
                                        <div class="article-desc">
                                            <a href="#" class="fsell-title"><span>Bán nhà Trương Định 44m2 nhà đẹp ngõ 3...</span></a>
                                            <p class="fsell-price">3.600.000.000 đ</p>
                                        </div>
                                    </div>
                                </article>
                                <article class="article-item">
                                    <div class="d-flex">
                                        <a href="#" class="mr-3 img-thumb"><img src="assets/images/fsell/2.jpg" alt="" class="img-fluid d-block"></a>
                                        <div class="article-desc">
                                            <a href="#" class="fsell-title"><span>Ngân hàng Bình Tân hỗ trợ thanh lý KDC phía...</span></a>
                                            <p class="fsell-price">1.800.000.000 đ</p>
                                        </div>
                                    </div>
                                </article>
                                <article class="article-item">
                                    <div class="d-flex">
                                        <a href="#" class="mr-3 img-thumb"><img src="assets/images/fsell/2.jpg" alt="" class="img-fluid d-block"></a>
                                        <div class="article-desc">
                                            <a href="#" class="fsell-title"><span>Phố Trung Kính 46*5 tầng, kinh doanh nhỏ, giá...</span></a>
                                            <p class="fsell-price">5.400.000.000 đ</p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="article-list-sell">
                                <article class="article-item">
                                    <div class="d-flex">
                                        <a href="#" class="mr-3 img-thumb"><img src="assets/images/fsell/3.jpg" alt="" class="img-fluid d-block"></a>
                                        <div class="article-desc">
                                            <a href="#" class="fsell-title"><span>Bán nhà Trương Định 44m2 nhà đẹp ngõ 3...</span></a>
                                            <p class="fsell-price">3.600.000.000 đ</p>
                                        </div>
                                    </div>
                                </article>
                                <article class="article-item">
                                    <div class="d-flex">
                                        <a href="#" class="mr-3 img-thumb"><img src="assets/images/fsell/4.jpg" alt="" class="img-fluid d-block"></a>
                                        <div class="article-desc">
                                            <a href="#" class="fsell-title"><span>Ngân hàng Bình Tân hỗ trợ thanh lý KDC phía...</span></a>
                                            <p class="fsell-price">1.800.000.000 đ</p>
                                        </div>
                                    </div>
                                </article>
                                <article class="article-item">
                                    <div class="d-flex">
                                        <a href="#" class="mr-3 img-thumb"><img src="assets/images/fsell//5.jpg" alt="" class="img-fluid d-block"></a>
                                        <div class="article-desc">
                                            <a href="#" class="fsell-title"><span>Phố Trung Kính 46*5 tầng, kinh doanh nhỏ, giá...</span></a>
                                            <p class="fsell-price">5.400.000.000 đ</p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- carousel slide -->
            </div>
        </div>
    </div>
    <div class="bt-solid mt-3 mb-3"></div>
</div>
<div class="ad-bottom-content pb-3">
    <div class="row">
        <div class="col-lg-8">
            <div class="watch-lots-list">
                <div class="heading-title">
                    <h5 class="merri-title title-border">
                        <a title="Xem nhiều" href="/tin-xem-nhieu" class="inner-title">Xem nhiều</a>
                    </h5>
                </div>
                <div class="list-top-view d-flex mt-4">
                    <article class="item-news d-flex">
                        <h1 class="merri-title number-top-view">1</h1>
                        <div class="view-desc">
                            <p>
                                <a href="#">Kế hoạch triệu đô vào Mỹ của bà Đặng Thị Hoàng Yến giờ ra sao?</a>
                                <span class="comments-count">
                                    <i class="far fa-comment"></i>
                                    <a href="#">14</a>
                                </span>
                            </p>
                        </div>
                    </article>
                    <article class="item-news d-flex">
                        <h1 class="merri-title number-top-view">2</h1>
                        <div class="view-desc">
                            <p>
                                <a href="#">Bi kịch của người Mỹ từng chiến đấu cho hải quân Trung Quốc</a>
                                <span class="comments-count">
                                    <i class="far fa-comment"></i>
                                    <a href="#">14</a>
                                </span>
                            </p>
                        </div>
                    </article>
                    <article class="item-news d-flex">
                        <h1 class="merri-title number-top-view">3</h1>
                        <div class="view-desc">
                            <p>
                                <a href="#">Website phim lậu lớn nhất Việt Nam bị chặn</a>
                                <span class="comments-count">
                                    <i class="far fa-comment"></i>
                                    <a href="#">132</a>
                                </span>
                            </p>
                        </div>
                    </article>
                    <article class="item-news d-flex">
                        <h1 class="merri-title number-top-view">4</h1>
                        <div class="view-desc">
                            <p>
                                <a href="#">Ông thợ hồ 64 tuổi có thân hình như lực sĩ</a>
                                <span class="comments-count">
                                    <i class="far fa-comment"></i>
                                    <a href="#">132</a>
                                </span>
                            </p>
                        </div>
                    </article>
                    <article class="item-news d-flex">
                        <h1 class="merri-title number-top-view">5</h1>
                        <div class="view-desc">
                            <p>
                                <a href="#">Website phim lậu lớn nhất Việt Nam bị chặn</a>
                                <span class="comments-count">
                                    <i class="far fa-comment"></i>
                                    <a href="#">132</a>
                                </span>
                            </p>
                        </div>
                    </article>
                    <article class="item-news d-flex">
                        <h1 class="merri-title number-top-view">6</h1>
                        <div class="view-desc">
                            <p>
                                <a href="#">Ông thợ hồ 64 tuổi có thân hình như lực sĩ</a>
                                <span class="comments-count">
                                    <i class="far fa-comment"></i>
                                    <a href="#">132</a>
                                </span>
                            </p>
                        </div>
                    </article>
                    <article class="item-news d-flex">
                        <h1 class="merri-title number-top-view">7</h1>
                        <div class="view-desc">
                            <p>
                                <a href="#">Website phim lậu lớn nhất Việt Nam bị chặn</a>
                                <span class="comments-count">
                                    <i class="far fa-comment"></i>
                                    <a href="#">132</a>
                                </span>
                            </p>
                        </div>
                    </article>
                    <article class="item-news d-flex">
                        <h1 class="merri-title number-top-view">8</h1>
                        <div class="view-desc">
                            <p>
                                <a href="#">Ông thợ hồ 64 tuổi có thân hình như lực sĩ</a>
                                <span class="comments-count">
                                    <i class="far fa-comment"></i>
                                    <a href="#">132</a>
                                </span>
                            </p>
                        </div>
                    </article>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box-shop-sell-vertical p-3">
                <div class="clearfix sell-top-box">
                    <h5 class="merri-title heading-line float-left"><a href="">VNShop</a></h5>
                    <div class="float-right btn-control-carousel">
                        <a class="carousel-control-prev" href="#carouselExampleInterval1" role="button" data-slide="prev">
                            ❮
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleInterval1" role="button" data-slide="next">
                            ❯
                        </a>
                    </div>
                </div>

                <div id="carouselExampleInterval1" class="carousel slide pointer-event" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item carousel-item-next carousel-item-left">
                            <div class="article-list-sell">
                                <article class="article-item">
                                    <div class="d-flex">
                                        <a href="#" class="mr-3 img-thumb"><img src="assets/images/fsell/1.jpg" alt="" class="img-fluid d-block"></a>
                                        <div class="article-desc">
                                            <a href="#" class="fsell-title"><span>Bán nhà Trương Định 44m2 nhà đẹp ngõ 3...</span></a>
                                            <p class="fsell-price">3.600.000.000 đ</p>
                                        </div>
                                    </div>
                                </article>
                                <article class="article-item">
                                    <div class="d-flex">
                                        <a href="#" class="mr-3 img-thumb"><img src="assets/images/fsell/2.jpg" alt="" class="img-fluid d-block"></a>
                                        <div class="article-desc">
                                            <a href="#" class="fsell-title"><span>Ngân hàng Bình Tân hỗ trợ thanh lý KDC phía...</span></a>
                                            <p class="fsell-price">1.800.000.000 đ</p>
                                        </div>
                                    </div>
                                </article>
                                <article class="article-item">
                                    <div class="d-flex">
                                        <a href="#" class="mr-3 img-thumb"><img src="assets/images/fsell/2.jpg" alt="" class="img-fluid d-block"></a>
                                        <div class="article-desc">
                                            <a href="#" class="fsell-title"><span>Phố Trung Kính 46*5 tầng, kinh doanh nhỏ, giá...</span></a>
                                            <p class="fsell-price">5.400.000.000 đ</p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="carousel-item active carousel-item-left">
                            <div class="article-list-sell">
                                <article class="article-item">
                                    <div class="d-flex">
                                        <a href="#" class="mr-3 img-thumb"><img src="assets/images/fsell/3.jpg" alt="" class="img-fluid d-block"></a>
                                        <div class="article-desc">
                                            <a href="#" class="fsell-title"><span>Bán nhà Trương Định 44m2 nhà đẹp ngõ 3...</span></a>
                                            <p class="fsell-price">3.600.000.000 đ</p>
                                        </div>
                                    </div>
                                </article>
                                <article class="article-item">
                                    <div class="d-flex">
                                        <a href="#" class="mr-3 img-thumb"><img src="assets/images/fsell/4.jpg" alt="" class="img-fluid d-block"></a>
                                        <div class="article-desc">
                                            <a href="#" class="fsell-title"><span>Ngân hàng Bình Tân hỗ trợ thanh lý KDC phía...</span></a>
                                            <p class="fsell-price">1.800.000.000 đ</p>
                                        </div>
                                    </div>
                                </article>
                                <article class="article-item">
                                    <div class="d-flex">
                                        <a href="#" class="mr-3 img-thumb"><img src="assets/images/fsell//5.jpg" alt="" class="img-fluid d-block"></a>
                                        <div class="article-desc">
                                            <a href="#" class="fsell-title"><span>Phố Trung Kính 46*5 tầng, kinh doanh nhỏ, giá...</span></a>
                                            <p class="fsell-price">5.400.000.000 đ</p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- carousel slide -->
            </div>
        </div>

    </div>


</div>

