@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var site = Model.Root();
    var home = site.Children.ToList()[0];
    var selection = home.Children.Where(x => x.IsVisible()).ToList();
}
    <div class="container white-bg">
        <section class="section section">
            @Html.GetGridHtml(Model, "mainLayout", "bootstrap3-fluid")
        </section>
    </div>
        

