<?xml version="1.0" encoding="utf-8"?>
<Macro Key="f3640a7d-530f-4df6-8f8b-307cdf56bfed" Alias="AioShop" Level="0">
  <Name>AioShop</Name>
  <MacroSource>~/Views/MacroPartials/AioShop.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>