<?xml version="1.0" encoding="utf-8"?>
<Macro Key="ae086a53-7ef2-4590-8fc9-ff61359869f7" Alias="BoxSell" Level="0">
  <Name>BoxSell</Name>
  <MacroSource>~/Views/MacroPartials/BoxSell.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>itemSell</Name>
      <Alias>itemSell</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
  </Properties>
</Macro>