<?xml version="1.0" encoding="utf-8"?>
<Macro Key="bbbcf1c5-48de-45aa-b4fb-13d04128a1ca" Alias="CommomNews" Level="0">
  <Name>CommomNews</Name>
  <MacroSource>~/Views/MacroPartials/CommomNews.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>numOfNews</Name>
      <Alias>numOfNews</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.Decimal</EditorAlias>
    </Property>
  </Properties>
</Macro>