<?xml version="1.0" encoding="utf-8"?>
<Macro Key="78a30751-2876-4cc8-a82b-b7bed654a035" Alias="LastestNews" Level="0">
  <Name>LastestNews</Name>
  <MacroSource>~/Views/MacroPartials/LastestNews.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>