<?xml version="1.0" encoding="utf-8"?>
<Macro Key="68089b00-7386-46d8-a552-102c7e7a5be9" Alias="PostList" Level="0">
  <Name>PostList</Name>
  <MacroSource>~/Views/MacroPartials/PostList.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>category</Name>
      <Alias>category</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    </Property>
    <Property>
      <Name>pageSize</Name>
      <Alias>pageSize</Alias>
      <SortOrder>1</SortOrder>
      <EditorAlias>Umbraco.Decimal</EditorAlias>
    </Property>
  </Properties>
</Macro>