<?xml version="1.0" encoding="utf-8"?>
<Macro Key="7c211efc-4d1f-45ba-890f-81fc853db1fa" Alias="SearchResult" Level="0">
  <Name>SearchResult</Name>
  <MacroSource>~/Views/MacroPartials/SearchResult.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>