<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5f7c8c99-bd8d-4a87-be0c-57df80bf0774" Alias="advertisingTypes" Level="4">
  <Info>
    <Name>AdvertisingTypes</Name>
    <Icon>icon-add color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Core/Components/Marketing</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>77ece049-c7a9-4388-9464-88aa2bdc063f</Key>
      <Name>Advertising Data</Name>
      <Alias>advertisingData</Alias>
      <Definition>c3b39fac-1b1e-4a68-8714-91c67556c3bd</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Data</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>