<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5c32edc8-3377-4fe4-bbca-6bb44b263252" Alias="advertising" Level="4">
  <Info>
    <Name>Advertising</Name>
    <Icon>icon-departure color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Core/Components/Marketing</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>eda542fb-df16-4346-aabd-ccded7885f01</Key>
      <Name>Expired Date</Name>
      <Alias>expiredDate</Alias>
      <Definition>ea30b96f-a8d7-4d85-bc6a-9345558fdf32</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9eacd649-23c4-47b3-b837-3518d3557ef1</Key>
      <Name>Iframe</Name>
      <Alias>iframe</Alias>
      <Definition>6b163d0b-b46c-49f6-a870-ebd4035db23b</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This iframe source will be rendered to page.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a8edc0ce-cf49-4405-9c51-69748da28716</Key>
      <Name>Link to site</Name>
      <Alias>linkToSite</Alias>
      <Definition>7d6ffc99-8160-43ce-9e06-6fff3c1a17a4</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>36b3564f-94db-4015-9dc1-c992700f696f</Key>
      <Name>Price</Name>
      <Alias>price</Alias>
      <Definition>59b8906b-1805-4d6d-a999-99975551ae21</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ce916943-28cc-417e-a214-443f408370e2</Key>
      <Name>Priority</Name>
      <Alias>priority</Alias>
      <Definition>a786b003-a5ca-4d0f-834f-674566bab065</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d08dfdc4-41ad-4611-a736-9ce972de9ea7</Key>
      <Name>Published Date</Name>
      <Alias>publishedDate</Alias>
      <Definition>29ca82a5-fa5f-4e79-8e90-a824077064f1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2e03bcd9-ee66-443a-ba49-bbc5c9929485</Key>
      <Name>Site image</Name>
      <Alias>siteImage</Alias>
      <Definition>31721f8b-8f67-4719-b571-9357b34562ff</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>49438b83-8685-46cd-99f4-7f0ef92cce88</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>2baa77e6-0863-45ad-9bdc-c3a4bd0c50a7</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Data</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>