<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dd0c7ecf-1e04-4632-b237-34586f6eb769" Alias="basePage" Level="3">
  <Info>
    <Name>BasePage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Core/Pages</Folder>
    <Compositions />
    <DefaultTemplate>master</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="633ba6fa-28dd-4dba-87dd-d87dd9b3e432">master</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d54f7b5a-1b9a-4afa-9a6c-3ebae2b1ce46" SortOrder="0">category</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>90031333-7f03-4894-94bf-62c8592caeee</Key>
      <Name>Main Layout</Name>
      <Alias>mainLayout</Alias>
      <Definition>56727514-454b-4c97-891f-43160d7b123f</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ef7b2381-93e5-4799-b055-d9058327ad50</Key>
      <Name>Meta Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>a9ac50e8-0def-4a7f-9dbe-bb46b52d3305</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Meta</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>199d9373-2378-4ce7-9ec1-a773c50f57b5</Key>
      <Name>Meta Keywords</Name>
      <Alias>metaKeywords</Alias>
      <Definition>2ead28d6-5d81-4f0c-8282-869638731831</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Meta</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c0e57803-0f07-4d48-b337-d45ffc0319b1</Key>
      <Name>Meta Page Title</Name>
      <Alias>metaPageTitle</Alias>
      <Definition>ec67a32e-2b28-4106-89a9-4045ec4a6592</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Meta</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d2923af0-f154-487c-9892-5ada4e11dc77</Key>
      <Name>Robots</Name>
      <Alias>robots</Alias>
      <Definition>f6201f52-b34d-420f-b82f-71004ef2cb85</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Meta</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Meta</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Layout</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>