<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d54f7b5a-1b9a-4afa-9a6c-3ebae2b1ce46" Alias="category" Level="4">
  <Info>
    <Name>Category</Name>
    <Icon>icon-shipping-box color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Core/Components/News</Folder>
    <Compositions>
      <Composition Key="dd0c7ecf-1e04-4632-b237-34586f6eb769">basePage</Composition>
    </Compositions>
    <DefaultTemplate>Category</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8bbd564d-2909-472e-ba34-80d26c270999">Category</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1f2edbdb-cea0-4fe2-b172-fcd4aab2ff06" SortOrder="0">news</ContentType>
    <ContentType Key="d54f7b5a-1b9a-4afa-9a6c-3ebae2b1ce46" SortOrder="1">category</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>67152eb8-c677-4688-b7cb-96fa0d9626b4</Key>
      <Name>ParentCategory</Name>
      <Alias>parentCategoryId</Alias>
      <Definition>0f84e70b-77cb-427c-92bf-0cfff3d27a7a</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c9e8073e-d54b-460c-8385-3384931a5c3d</Key>
      <Name>ShowInTopicList</Name>
      <Alias>showInTopicList</Alias>
      <Definition>94b75f9a-6dd0-4636-8f26-19b89a7d0445</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>85ba6e08-a257-4ec4-a9ce-f3017253c447</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0eb1b622-5289-4907-98ae-5032ae2fbe3e</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1585de31-85ef-4534-877d-b24627f74514</Key>
      <Name>TopMenu</Name>
      <Alias>topMenu</Alias>
      <Definition>67ff4364-60a7-4353-8a06-f6c8a949e8a7</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Data</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>