<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e31a0661-6e0e-4d55-8c83-1c8f9064680d" Alias="homePage" Level="3">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Core/Pages</Folder>
    <Compositions>
      <Composition Key="dd0c7ecf-1e04-4632-b237-34586f6eb769">basePage</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="09a36b24-625f-43b7-9b34-b623afb612e9">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d54f7b5a-1b9a-4afa-9a6c-3ebae2b1ce46" SortOrder="0">category</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>42d8a9cd-d788-4774-9666-e56119c637e3</Key>
      <Name>ContentCenter</Name>
      <Alias>contentCenter</Alias>
      <Definition>f6bc42b3-612a-470f-a469-566fd83b59f3</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>957bd427-1cdc-474b-949d-262a9ea108dd</Key>
      <Name>ContentLeft</Name>
      <Alias>contentLeft</Alias>
      <Definition>369b4eed-e685-47e0-aa3a-ebbc37d4bb97</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d0dc7605-f3bb-4825-a9bb-29aeff00acf0</Key>
      <Name>ContentRight</Name>
      <Alias>contentRight</Alias>
      <Definition>a6437b1c-8915-426d-b819-03afe5162ee5</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3f25553d-8416-43cc-997f-1bd2d3cc0ace</Key>
      <Name>CurrentDate</Name>
      <Alias>currentDate</Alias>
      <Definition>087013a1-af35-41c5-a012-5ee3f1debfa7</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>97ba83b2-8f43-4291-9165-c08307470790</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>06a7ee2d-783b-4839-9eae-1f36c3cc9344</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Header</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>