<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1f2edbdb-cea0-4fe2-b172-fcd4aab2ff06" Alias="news" Level="4">
  <Info>
    <Name>News</Name>
    <Icon>icon-globe-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Core/Components/News</Folder>
    <Compositions>
      <Composition Key="dd0c7ecf-1e04-4632-b237-34586f6eb769">basePage</Composition>
    </Compositions>
    <DefaultTemplate>News</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="68236a25-e6bb-40de-b37c-14a08e6366a2">News</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>664588e5-485a-442b-8939-707dc988c4b3</Key>
      <Name>Author</Name>
      <Alias>author</Alias>
      <Definition>4617a78a-9975-4907-9d68-8b672dd64a58</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0f50162f-bf87-4d45-a46e-479af9c06ee4</Key>
      <Name>Category</Name>
      <Alias>category</Alias>
      <Definition>e921c6b1-1e71-4154-8e76-69380f1abc19</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0f24a134-cda5-4578-99ba-f214100eb588</Key>
      <Name>Full Description</Name>
      <Alias>fullDescription</Alias>
      <Definition>6ba64293-98e3-42ff-8873-eb3324971d3c</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6bed0f1d-5e6c-4681-9c57-2a5bb1fa54ed</Key>
      <Name>MostView</Name>
      <Alias>mostView</Alias>
      <Definition>a3535eb4-78dd-4113-b67b-0fecffb7eb5e</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5fddba9b-1c4a-49ae-9106-89cf49545136</Key>
      <Name>Picture</Name>
      <Alias>picture</Alias>
      <Definition>739c3e2c-09c2-410f-9276-7d110e1336fa</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f1932567-3cc1-4b8e-9c35-86ca7c519d41</Key>
      <Name>PostedDateTime</Name>
      <Alias>postedDateTime</Alias>
      <Definition>eccb75b4-3cad-431e-9d84-3566b70d0f35</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ae9ee3e8-8476-4dc6-84dd-db7d8b57cc28</Key>
      <Name>PostedTime</Name>
      <Alias>postedTime</Alias>
      <Definition>1b2f69b3-2b61-41fc-82bc-0aea46e1e95a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f6ca7ad9-73e6-4472-a10a-c835afc65a11</Key>
      <Name>Related News</Name>
      <Alias>relatedNews</Alias>
      <Definition>49573546-b09a-4441-9e1d-cc52f96a1e13</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>917ba36f-dc23-49a3-bde2-3161e62f8fca</Key>
      <Name>Short Description</Name>
      <Alias>shortDescription</Alias>
      <Definition>dc0c7950-3579-4e34-a675-80463faa5091</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>08e66741-64fa-49a6-8891-0f55085c8a4e</Key>
      <Name>ShowInTopicList</Name>
      <Alias>showInTopicList</Alias>
      <Definition>ffc6736a-280b-4321-be3f-89cb42b56e8d</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Setting</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>37a8741b-b81b-45ee-ac67-b500a3b7ef28</Key>
      <Name>Source</Name>
      <Alias>source</Alias>
      <Definition>bcfdd4ea-f345-4a1f-9353-348698385eb0</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f84a37c4-3f01-4321-9b54-d5d757884765</Key>
      <Name>SourceUrl</Name>
      <Alias>sourceUrl</Alias>
      <Definition>3084836c-3449-41e0-a48f-ecdd139ed1b5</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>bf5eeff5-a26d-4baf-a0e0-8b5fe307c7d1</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>dad77035-9148-4249-8308-47f1df2ae8f0</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Data</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Setting</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>