<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="02a26655-0306-4f22-8501-6cf106a006c3" Alias="settings" Level="3">
  <Info>
    <Name>Settings</Name>
    <Icon>icon-umb-settings color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Core/Site</Folder>
    <Compositions />
    <DefaultTemplate>Settings</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7e187d5e-bd84-4769-964a-2f34418cfdb8">Settings</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>84079caf-adf0-4e51-bc49-af17550ae6cd</Key>
      <Name>Description Suffix</Name>
      <Alias>descriptionSuffix</Alias>
      <Definition>33c371ae-45a4-47f4-a03f-52fb5f493517</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Meta Tags</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>fb7103cd-6a05-4a58-8a31-1b8750049919</Key>
      <Name>Facebook Url</Name>
      <Alias>facebookUrl</Alias>
      <Definition>607a6dc3-8e87-45dc-aaf0-1bec470b7463</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2dfb77b2-b325-40b4-9d6e-f77586fba6d9</Key>
      <Name>Flickr Url</Name>
      <Alias>flickrUrl</Alias>
      <Definition>be56d190-f51e-4702-8293-21c8a2da496f</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>bd49aff0-ea69-4324-9233-ed33fc170674</Key>
      <Name>Linkedin Url</Name>
      <Alias>linkedinUrl</Alias>
      <Definition>91297a94-fd2c-435a-a631-e86d8895df17</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>51df542d-70b8-4717-8ff9-1fb10fafd3f0</Key>
      <Name>Site Logo Url</Name>
      <Alias>siteLogoUrl</Alias>
      <Definition>7dbf1c3f-257a-4152-94ed-d8dfd9daf9f7</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>fdef57aa-6e1f-4290-872e-9514e049e52d</Key>
      <Name>Twitter Url</Name>
      <Alias>twitterUrl</Alias>
      <Definition>7e0a0096-a3b9-4eb3-b25f-08473499324f</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Data</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Social</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Meta Tags</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>